@model Syte.Models.Book
@{ ViewData["Title"] = "Новая книга"; }

<h1>Добавление книги</h1>
<hr />
@*<script>
    function handlerSubmitAddAuthor(event) {
        event.preventDefault(); 
        let tmp = document.getElementById("Author-data").style.display;
        document.getElementById("Author-data").style.display = tmp === 'block' ? 'none' : 'block';
    }
    function handlerSubmitAddCategory(event) {
        event.preventDefault(); 
        let tmp = document.getElementById("Category-data").style.display;
        document.getElementById("Category-data").style.display = tmp === 'block' ? 'none' : 'block';
    }
    function handlerSubmitAddPublishId(event) {
        event.preventDefault(); 
        let tmp = document.getElementById("PublishId-data").style.display;
        document.getElementById("PublishId-data").style.display = tmp === 'block' ? 'none' : 'block';
    }
    function handlerSubmitAddCompilationID(event) {
        event.preventDefault(); 
        let tmp = document.getElementById("CompilationID-data").style.display;
        document.getElementById("CompilationID-data").style.display = tmp === 'block' ? 'none' : 'block';
    }
    function clik(event) {
        event.preventDefault(); 
        let tmp = document.getElementById("Author-data").style.display;
        document.getElementById("Author-data").style.display = tmp === 'block' ? 'none' : 'block';
    }

</script>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Автор</label>
                <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.Authors"></select>
            </div>
            <input type="button" value="Добавить автора" onClick='location.href="https://localhost:44352/Authors/Create"' />

            <div class="form-group">
                <label class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Жанр</label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
            <input type="button" value="Добавить жанр" onClick='location.href="https://localhost:44352/Categories/Create"' />

            <div class="form-group">
                <label class="control-label">URL изображение обложки</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Издательство</label>
                <select asp-for="PublisherID" class="form-control" asp-items="ViewBag.Publisher"></select>
            </div>
            <input type="button" value="Добавить издательство" onClick='location.href="https://localhost:44352/Publishers/Create"' />


            <div class="form-group">
                <label class="control-label">Подборка</label>
                <select asp-for="CompilationID" class="form-control" asp-items="ViewBag.Compilations"></select>
            </div>
            <input type="button" value="Добавить подборку" onClick='location.href="https://localhost:44352/Compilations/Create"' />

            <div class="form-group">
                <label class="control-label">Теги</label>
                <select asp-for="Tags" class="form-control" asp-items="ViewBag.Tags"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить книгу" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
