@model Syte.Models.Authors

@{
    ViewData["Title"] = "CreateAuthor";
}

<h1>CreateAuthor</h1>

<h4>Authors</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAuthor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBD" class="control-label"></label>
                <input asp-for="DateBD" class="form-control" />
                <span asp-validation-for="DateBD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfdeath" class="control-label"></label>
                <input asp-for="DateOfdeath" class="form-control" />
                <span asp-validation-for="DateOfdeath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-controller="Books" asp-action="List">Вернуться к созданию книги</>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
